<form (ngSubmit)="onSubmit()" [formGroup]="angularForm" novalidate>
  <div class="form-group">
    <label class="center-block">
      Title:
      <input class="form-control" formControlName="title" name="title" type="text">
    </label>

    <label class="center-block">
      Category:
      <select formControlName="category" name="category">
         <option *ngFor="let category of categories" [value]="category">
           {{category}}
         </option>
      </select>
    </label>

    <label class="center-block">Description:
      <textarea class="form-control" formControlName="description" name="description"></textarea>
    </label>

  </div>

  <div *ngIf="!angularForm.pristine && angularForm.invalid" class="alerts">
     <div *ngIf="angularForm.controls['title'].errors && angularForm.controls['title'].errors.required">
       > Field 'title' is a required value.
     </div>

     <div *ngIf="angularForm.controls['title'].errors && angularForm.controls['title'].errors.maxlength">
       > Field 'title' has a length limit of 30 characters
     </div>

     <div *ngIf="angularForm.controls['category'].errors && angularForm.controls['category'].errors.required">
       > Field 'category' is a required value.
     </div>

     <div *ngIf="angularForm.controls['description'].errors && angularForm.controls['description'].errors.required">
       > Field 'description' is a required value.
     </div>
   </div>

   <button class="submit-button" type="submit" name="submit-button"
           [disabled]="angularForm.pristine || angularForm.invalid">
     Add
   </button>
</form>
