.form-group {
    text-align: left;
    margin: 10px 0;
    width: 90%;
}

label {
    display: block;
    margin: 0 0 2em 0;
}

label input, textarea, select, button {
    display: block;
    width: 100%;
}

button {
    width: 90%;
}

.alerts {
    margin: 20px 0;
    border: dashed 2px red;
    padding: 10px 5px;
    width: 90%;
}
