<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Add Book</h2>
  <app-book></app-book>
  <h2>Book List ({{service.getBooks().length}})</h2>
  <app-book-list></app-book-list>
</div>


